<p class="card-text"><b>Asistent:</b></p>
<% asistenti.forEach(function (asistent) { %>
  <p class="card-text">Prof. dr. sc.  <%= asistent.imeAsistenta %> <%= asistent.prezimeAsistenta %></p>
  <p class="card-text">E-mail: <%= asistent.emailAsistenta %></p>
  <p class="card-text">Ured: <%= asistent.uredAsistenta %></p> <!--ili mozda urediAsistenta-->
  <a href="/unosAsistenta"><button class="btn btn-light btn-sm">Unesi</button></a>
  <a href="/urediAsistenta/<%= asistent._id %>"><button class="btn btn-light btn-sm">Uredi</button></a>
  <% }) %>

  

  <p class="card-text"><b>Asistent:</b></p>
  <%- include("proba") -%>



  <% aktivnosti.forEach(function (aktivnost) { %>
    <div class="card-body">
        <p class="card-text"><%= aktivnost.nazivAktivnosti %> <%= aktivnost.datumAktivnosti %></p>
        <p class="card-text"><%= aktivnost.nazivAktivnosti %> <%= aktivnost.datumAktivnosti %></p>
        <p class="card-text"><%= aktivnost.nazivAktivnosti %> <%= aktivnost.datumAktivnosti %></p>
    </div>
    <div class="card-footer"> 
      <a href="/unosIspita"><button class="btn btn-light">Unesi</button></a>
      <a href="/urediIspite/<%= aktivnost._id %>"><button class="btn btn-light">Uredi</button></a>
    </div>
    <% }) %>